In [1]:
import pandas as pd

In [70]:
df=pd.read_csv('ifood_df.csv')

In [65]:

def group_col(df,list_col,new_col):
    x=2
    for col in list_col[1:]:
        df[col].replace(1,x,inplace=True)
        x+=1
    df[new_col]=df[list_col].sum(axis=1)
    for i in range(1,len(list_col)+1):
        df[new_col].replace(i,list_col[i-1].split('_')[-1],inplace=True)
    df.drop(columns=list_col,inplace=True)



ls=['education_2n Cycle','education_Basic','education_Graduation','education_Master','education_PhD']   
group_col(df,ls,'education_level')

In [58]:
df.shape

(2205, 35)

In [68]:
df['education_level'].unique()
# 'education_level'.split('_')[-1]

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [69]:
# ls=['education_2n Cycle','education_Basic','education_Graduation','education_Master','education_PhD']   
# df[ls].sum(axis=1)
# df[ls].sum(axis=1)

l='abx'.split('-')
print(l)

['abx']